<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <title>Cool Temperatures</title>
    <link rel="icon" type="image/png" href="/app/static/favicon.png">
    <meta http-equiv="refresh" content="5">
</head>
<body>
<div class="jumbotron text-center" style="margin-bottom: 0; background-color: #cdfca9">
    <h1>Sensoren</h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Temperatur</th>
                    <th>Zeit</th>
                </tr>
                </thead>
                <tbody>
                {% for sensor in temp_result %}
                    <tr>
                        <td>{{ sensor.name }}</td>
                        <td>{{ sensor.temperature }}</td>
                        <td>{{ sensor.time }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Luftfeuchtigkeit</th>
                    <th>Zeit</th>
                </tr>
                </thead>
                <tbody>
                {% for sensor in hum_result %}
                    <tr>
                        <td>{{ sensor.name }}</td>
                        <td>{{ sensor.humidity }}</td>
                        <td>{{ sensor.time }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>